Package: bitwarden-rs
Architecture: -
Maintainer: Greizgh <greizgh+bitwardenrs@ephax.org>
Priority: optional
Version: -
Description: Unofficial Bitwarden compatible server written in Rust
Homepage: https://github.com/greizgh/bitwarden_rs-debian
