#!/bin/sh
DIR_MODE=0700 adduser --system --home /var/lib/@@PACKAGEDIR@@ @@SERVICEUSER@@
chmod 700 /var/lib/@@PACKAGEDIR@@
chmod 600 /etc/@@PACKAGEDIR@@/config.env
chmod 600 /etc/@@PACKAGEDIR@@/Rocket.toml
