[Unit]
Description=Bitwarden API server
After=network.target

[Service]
Type=simple
User=vaultwarden
ExecStart=/usr/local/bin/vaultwarden
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
WorkingDirectory=/etc/vaultwarden
ReadWriteDirectories=/var/lib/vaultwarden
EnvironmentFile=/etc/vaultwarden/config.env

[Install]
WantedBy=multi-user.target
