[Unit]
Description=Bitwarden API server
After=network.target

[Service]
Type=simple
User=@@SERVICEUSER@@
ExecStart=/usr/local/bin/@@EXECUTABLENAME@@
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
WorkingDirectory=/etc/@@PACKAGEDIR@@
ReadWriteDirectories=/var/lib/@@PACKAGEDIR@@
EnvironmentFile=/etc/@@PACKAGEDIR@@/config.env

[Install]
WantedBy=multi-user.target
