[Unit]
Description=Bitwarden API server
After=network.target

[Service]
Type=simple
User=bitwarden
ExecStart=/usr/local/bin/bitwarden_rs
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
WorkingDirectory=/etc/bitwarden_rs
ReadWriteDirectories=/var/lib/bitwarden_rs
EnvironmentFile=/etc/bitwarden_rs/config.env

[Install]
WantedBy=multi-user.target
