Package: bitwarden-rs
Architecture: amd64
Maintainer: Greizgh <greizgh+bitwardenrs@ephax.org>
Priority: optional
Version: 1.10.0-1
Description: Unofficial Bitwarden compatible server written in Rust
Homepage: https://github.com/greizgh/bitwarden_rs-debian
